@charset "utf-8";
/* CSS Document */


div#allProductsBtn {
	color: silver;
}
div.row {
	margin: 0 auto;
	padding: 16px 40px;
}
div.topnav a {
	  padding: 18px;
}
div.topnav {
	color: #F8F8F8;
	background-color: silver;
	text-align: center;
	font-size: 18px;
	padding: 4px 10px;
}
body {
	background-color: silver;
}
div.container {
	background-color: #1a5266;
}
div.row h1 {
	background-image: url("images/equalizer.jpg");
	text-align: center;
	color: #ffcc66;
	padding: 20px 40px;
}
div.carousel-inner {
		padding: 18px;
	}